html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #f0f0f0;
  font-family: 'Segoe UI', sans-serif;
}

.App {
  overflow-x: hidden;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

.nav-link {
  color: #ffffff;
  margin-right: 1rem;
}

.nav-link:hover {
  color: #d4d4d4;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  padding: 1rem;
}
